.hero-img{
    height:400px;
    width:100%;
    background-image: url(../img/hero-cel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero h2{
  padding: 88px 24px;
  margin:0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (max-width: 768px){
  .hero-img{
    height:620px;
    
    background-image: url(../img/hero-tablet.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero h2{
  padding: 0px 60px;
  margin:0;
  font-weight: var(--text-weight);
  font-size: 32px;
}
}
@media screen and (max-width: 1024px){
  .hero-img{
    height:620px;
    
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero h2{
  padding: 88px 120px;
  margin:0;
  font-weight: var(--text-weight);
  font-size: 32px;
}
}